$color-org:#ff980f;
$colorf:#fff;
$color9:#999;
$color6:#666;
$color3:#333;
$color0:#000;
$colorfa:#fafafa;
@media (max-width:767px){
  .fon30{ font-size: 24px;}
  .fon26{ font-size:20px;}
  .fon24{ font-size: 18px;}
  .fon22{ font-size: 16px;}
  .fon20{ font-size: 16px;}
  .fon18{ font-size: 15px;}
  .fon16{ font-size: 14px;}
  .item-main{
    font-size: 13px;line-height: 1.5;
    .item-left{ width: 100%;}
    .item-right{ width: 100%;}
    .max390{ max-width: 80%;}
  }
  .item2-main{ font-size: 13px;line-height: 1.5;}
  .item3-main{
    flex-wrap: wrap-reverse; margin-bottom: 20px; font-size: 13px; 
    .item3-left{ width: 100%;}
    .item3-right{ width: 100%;}
    .max280{ max-width: 100%;line-height: 1.5;}
  }
  .item4-main{ flex-wrap:wrap;}
  .item1-1 { margin-bottom: 10px;}
  .p-w100{ width: 100%;}

  .footer{
    dt{ font-size: 14px;}
    dd a{  font-size: 13px; }
    .share-icon{ padding: 10px 0; }
    .share-icon  img{ width: 20px;}
  }

  .banner-item{
    .brand-left{ width: 100%; }
    .brand-right{ width: 100%; margin-top: 20px;}
  }
  .brand-lists li{ width: 100%}
  
  
.yj-main{ margin-top: 20px;
  .yj-img{ width:100% ;  padding-bottom: 20px;}
  .yj-con{ width: 100%; justify-content: flex-start;padding-bottom: 20px; }
  .yj-img::after{ display: none}
  li:nth-child(2n){ flex-wrap: wrap}
}

.zuanshi-list{
  margin-bottom: 20px; margin-top: 20px;
  li{margin-top: 0;}
  .peiyu-img{ width:100%}
  .peiyu-con{ width: 100%; padding-top: 20px;}
  li:nth-child(2n){ flex-wrap: wrap}
  .fon24{ margin-bottom: 0}
  .peiyu-img::after{ background-size: 100% 100%; padding-bottom: 10px; bottom: -15px}
}
.zs-img{ margin-bottom: 20px;}
.contact-left{ width: 100%}
.contact-right{ width: 95%; margin: 0 auto;}
.contact-padding{ padding: 15px 0 0 0;}
.contact{ padding: 30px 0;}

.page{ padding: 30px  0  0 0;}
.zixun-con{ flex-wrap: wrap; margin-bottom: 10px;}
.zixun-left{ width: 100%;}
.zixun-right{ padding-left: 0; width: 100%;}

.mingxing {
  .swiper-button-next{  right: 0;}
  .swiper-button-prev{  left: 0;}
} 
.bank-list{
  padding:20px 0;
  li{ flex-wrap: wrap-reverse; margin-bottom: 30px;}
  .bank-img{ width: 100%;}
  .bank-con{ width: 100%;}
  li:nth-child(2n) .flex-con{ justify-content: flex-start;flex-direction:row}
  
}
.form-bank{ position: static;}
.b-form .btn{ width: 25%;}
.b-form .b-txt{ width: 50%;}
.b-form .flex{ width: 100%;}

.yh-list {
  padding: 30px 0 0 0;
  li{ padding-bottom:20px; margin-bottom:20px; flex-wrap: wrap-reverse;}
  .yh-img{ width: 100%; margin-bottom: 15px;}
  .yh-con{ width: 100%;margin-bottom: 15px; justify-content: flex-start;}
}
.video{ position: static;}
.video-left{ margin-left: 0;}
.mx-banner{ display: none;}
.max867.flex-nowarp{ flex-wrap: wrap-reverse;}
.max867 {
   .w50{ width: 100%;}
   .w44{ width: 100%;}
   .w69{ width: 100%;}
   .w49{ width: 100%; justify-content: flex-start; flex-wrap: wrap-reverse;}
  
}
.mx-list {
  li .w50{ width: 100%;}
  li .mx-main{ width: 100%; height: 100%; padding: 15px;}
  .meixue-item{ position: static;}
  .mx-main .visible-hidden{ display: none;}
}
.max750{ padding: 15px 0;}
.service-list {
  padding: 30px 0;
  li { margin-bottom: 15px;}
  li .w50{ width: 90%;}
  .padd{ width: 90%;}
}

}
